# AL DESCARGAR ESTE ARCHIVO CAMBIA EL NOMBRE. a .env

WALLET_1_NAME=Wallet Principal
# COLOCA TUS DATOS DESPUES DE =  
WALLET_1_PRIVATE_KEY=
WALLET_1_PROXY_ADDRESS=
# NO MOVER A SIGNATURE TYPE 1, EL 1 SIGNIFICA FORMATO DE FIRMA , ESTO FIRMA LAS TRANSACCIONES EJECUTADAS EN POYLYMARKET
WALLET_1_SIGNATURE_TYPE=1


# PARAMETROS DE ESTRATEGIA

TRIGGER_UP_BID=0.51
TRIGGER_DOWN_BID=0.50

LIMIT_UP_PRICE=0.50
LIMIT_DOWN_PRICE=0.48

SHARES_UP=5
SHARES_DOWN=5
